<%12.times do%>
	<img src = "/images/game/Blackjack.jpg"/>
<%end%>
<br/>
<form id = "blackjack" action='/game/BlackJack/compare' method='get'>
	<input type='submit' class='btn btn-primary' value='Continue'>
</form>
