<h3 ><p class ="text text-center text-info">Thank you for playing at</p> </h3> 
<h1 ><p class ="text text-center text-info">Larry's</p> </h1>
<p class = "text-center"><img src ="images\game\Blackjack.jpg" width = 602px height = 334px class = "img-polroid">
</p>
<h1 ><p class ="text text-center text-info">Game!</p> </h1>
<%if session[:bank] > 1%>
<a href = "/bet"> Start over</a>
<%end%>
