<h3 ><p class ="text text-center text-info">Hello, welcome to</p> </h3> 
<h1 ><p class ="text text-center text-info">Larry's</p> </h1>
<p class = "text-center"><img src ="images\game\Blackjack.jpg" width = 602px height = 334px class = "img-polroid">
</p>
<h1 ><p class ="text text-center text-info">Game!</p> </h1>
<br/>
<form action = '/set_name' method = 'post'>
<legend>What is your name?</legend>
 <input type = 'text' placeholder = "enter your name..."name = "player_name"/>
  <br/>
  <input type = 'submit' class = 'btn-success'/>
</form>