form#hit_form {
	float: left;
	margin-right: 10px;
}

form#stay_form{
	float: left;
}

label{
  font-weight: bold;
  color: blue;
}
#greeting, #player_bet{
  font-weight: bold;
  font-size: 20px;
  color:blue;
}
